<template>
    <div class="tab-pane fade" id="nav-headers" role="tabpanel" aria-labelledby="nav-profile-tab">
        <ul class="list-group">
            <li v-for="header in headers" class="list-group-item">
                <label>
                    <input class="form-check-input" type="radio"
                           :value="header" v-model="current"
                           @change="$root.components.preview.renderPreview()">
                    {{ header.name }}
                </label>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            current: null,
            headers: [],
        };
    },
    mounted() {
        this.$root.components.header = this;
    }
}
</script>
