<template>
    <div class="tab-pane fade" id="nav-parts" role="tabpanel" aria-labelledby="nav-contact-tab">
        <input type="text" placeholder="Фильтр..." class="form-control my-2"
               v-model="filter">
        <input type="range" class="w-100"
               v-model="uniqueness" @change="$root.loadParts(uniqueness)">
        <draggable v-model="parts" group="parts-group" class="list-group"
                   @start="drag=true" @end="drag=false"
                   @change="$root.components.preview.renderPreview()">
            <div v-for="part in parts" :key="part.id"
                 v-if="part.name.toLowerCase().includes(filter.toLowerCase())"
                 class="list-group-item" @click="scrollToBlock(part)">
                <input type="checkbox" name="parts" class="form-check-input"
                       @change.prevent="$root.components.preview.renderPreview()"
                       v-model="part.checked">
                {{ part.name }}
                <small class="badge bg-primary" v-if="part.length > 0">
                    Конт. {{ part.length }}
                </small>
                <small class="badge bg-primary" v-if="part.img > 0">
                    Изоб. {{ part.img }}
                </small>
                <small class="badge bg-primary" v-if="part.subtitle > 0">
                    Подз. {{ part.subtitle }}
                </small>
                <small class="badge bg-primary" v-if="part.table > 0">
                    Табл. {{ part.table }}
                </small>
                <small class="badge bg-primary" v-if="part.video > 0">
                    Вид. {{ part.video }}
                </small>
            </div>
        </draggable>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            filter: "",
            drag: false,
            uniqueness: 60,
            parts: [],
        };
    },
    mounted() {
        this.$root.components.parts = this;
    },
    methods: {
        scrollToBlock: function (part) {
            document.getElementById('preview')
                .scrollTo(
                    0,
                    document.getElementById('pt-' + part.id).offsetTop - 50
                );
        }
    },
}
</script>
