<template>
    <div class="tab-pane fade show active" id="nav-titles" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul class="list-group">
            <li v-for="title in titles" class="list-group-item">
                <label>
                    <input class="form-check-input" type="radio"
                           :value="title" v-model="current"
                           @change="$root.components.preview.renderPreview()">
                    {{ title.name }}
                </label>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            current: null,
            titles: [],
        };
    },
    mounted() {
        this.$root.components.title = this;
    }
}
</script>
