<template>
    <div>
        <nav class="d-flex justify-content-between">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-titles"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    Тайтл
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-headers"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Заголовок H1
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-parts"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Статья
                </button>
            </div>
            <div>
                <button @click="next" class="btn btn-white">
                    Пропустить
                </button>
                <button @click="generate" class="btn btn-primary"
                        v-bind:class="{ disabled: $root.components.preview != null
                        && $root.components.preview.content.trim() == '' }">
                    Сохранить
                </button>
            </div>
        </nav>
        <div v-bind:class="{ loading: isLoading }" class="tab-content" id="nav-tabContent">
            <generator-titles></generator-titles>
            <generator-headers></generator-headers>
            <generator-parts></generator-parts>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            isLoading: false,

            titles: [],
            headers: [],
            parts: [],
        };
    },
    mounted() {
        this.$root.components.main = this;
    },
    methods: {
        generate: function () {
            let that = this;
            axios.post('/ajax/' + this.$root.currentProject.id + '/save', {
                title: that.$root.components.title.current.name,
                content: that.$root.components.preview.content,
                group_id: that.$root.currentGroup.id,
            }).then(function () {
                that.$root.canDownload = true;
            });

            this.next();
        },
        next: function () {
            this.$root.loadProject(this.$root.currentProject);
        },
    },
}
</script>

<style>
.loading {
    overflow: hidden;
    position: relative;
    max-height: 100%;
    height: 500px;
}

.loading:after {
    content: 'Загрузка...';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}
</style>
