<template>
    <div>
        <p v-if="$root.components.title">title: {{ $root.components.title.current.name }}</p>
        <div id="preview" v-html="content"></div>
    </div>
</template>

<script>
import GeneratorTitles from './GeneratorTitles';

export default {
    data: function () {
        return {
            content: "",
        };
    },
    components: {
        GeneratorTitles,
    },
    mounted() {
        this.$root.components.preview = this;

        this.renderPreview();
    },
    methods: {
        renderPreview: function () {
            let page = "";

            if (this.$root.components.header.current)
                page += "<h1>" + this.$root.components.header.current.name + "</h1>";

            Object.values(this.$root.components.parts.parts).forEach(function (pp) {
                if (pp.checked)
                    page += pp.content;
            });

            this.content = page;
        }
    },
}
</script>

<style>
#preview {
    height: calc(100vh - 60px);
    overflow-y: auto;
}

#preview img {
    max-width: 100%;
}
</style>
