<template>
    <nav class="container navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Генератор статей</a>
            <div class="col-5 btn-download-wrap">
                <projects-component></projects-component>
                <button :class="{ 'disabled' : $root.canDownload !== true }"
                        @click="download"
                        class="btn btn-primary btn-download">
                    Скачать
                </button>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    data: function () {
        return {};
    },
    methods: {
        download: function () {
            axios.post('/ajax/' + this.$root.currentProject.id + '/download')
                .then(function (resp) {
                    window.location.replace('/' + resp.data);
                });
        }
    },
}
</script>

<style>
.btn-download-wrap .v-select {
    max-width: calc(100% - 100px);
    margin-right: 10px;
    float: left;
    width: calc(100%);
}
</style>
