<template>
    <v-select :options="projects" v-model="$root.currentProject"
              @input="$root.loadProject"
              label="name" placeholder="Выберите проект..."></v-select>
</template>

<script>
export default {
    data: function () {
        return {
            projects: [],
        };
    },
    mounted() {
        let that = this;
        axios.get('/ajax/projects').then(function (resp) {
            that.projects = resp.data;
        });
    }
}
</script>
